<div class="row">
    <div class="col-lg-1 menu">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="" ><i class="material-icons">home</i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shedules"><i class="material-icons">menu_book</i> Agendamento</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>
