<div class="content">
    <div class="title">
        <h1>Horários</h1>
    </div>
    <hr />
    <br/>
    <form>
      <mat-form-field class="form">
        <div class="row" style="margin-bottom: 30px;">
        <mat-label style="padding: 2%;">Nome:</mat-label>

        <input [(ngModel)]="agendamento.client_name" style="padding: 2%; border: gray solid 0.5px; border-radius: 10px;" 
        matInput type="text" name="nome" placeholder="Digite seu nome..">
        
        <mat-label style="padding: 2%;">Horario:</mat-label>
        <input [(ngModel)]="agendamento.shedule" style="padding: 2%; border: gray solid 0.5px; border-radius: 10px;" 
        matInput type="datetime-local" placeholder="start date" name="horario" placeholder="Digite o horario..">
        

        <button (click)="create()" style="border-radius: 10px; padding: 2%; margin: 5%;" 
        class="mat-elevation-z8" mat-stroked-button color="primary">Agendar</button>

      </div>
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time" (click)="ChangeColor('#card1')">
            <div class="card" id="card1">
              <div class="card-body">
                <h5 class="card-title">09:00h ~ 09:30h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">09:30h ~ 10:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">10:00h ~ 10:30h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">10:30h ~ 11:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">11:30h ~ 12:00h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">13:30h ~ 14:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">14:30h ~ 15:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">15:30h ~ 16:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">16:30h ~ 17:00h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">17:30h ~ 18:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">18:30h ~ 19:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">19:30h ~ 20:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
  </mat-form-field>
  </form>

</div>