<div class="content">
    <div class="title">
        <h1>Horários</h1>
    </div>
    <hr />
    <br/>
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time" (click)="ChangeColor('#card1')">
            <div class="card" id="card1">
              <div class="card-body">
                <h5 class="card-title">09:00h ~ 09:30h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">09:30h ~ 10:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">10:00h ~ 10:30h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">10:30h ~ 11:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">11:30h ~ 12:00h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">13:30h ~ 14:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">14:30h ~ 15:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">15:30h ~ 16:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3">
        <button type="button" class="button-time">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">16:30h ~ 17:00h</h5>
              </div>
            </div>
          </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">17:30h ~ 18:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">18:30h ~ 19:00h</h5>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-3">
        <button type="button" class="button-time">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">19:30h ~ 20:00h</h5>
            </div>
          </div>
        </button>
      </div>
    </div>

</div>